<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Name : <%= @user.name %></br>
                 User Name : <%= @user.username %></br>
				 Phone No : <%= @user.phone_no %></br>
      Role : <%= @user.role %></h1></br>

<% @user_events.each do |event| %>
      Created Event Name : <h1> <%= event.event_name %></h1>
 <% end %>
    
</div></div></br>
<%= link_to 'Back', users_path,class:"btn btn-primary" %>




