<h1>Events List</h1>
<%= javascript_pack_tag "events", "data-turbolinks-track" => true %>
<div class="row">
  <div class="col">
<%=  form_tag events_path, :method => 'get' do %>
  <%= label_tag :event_name, "Name:" %>
    <%= text_field_tag :event_name,@event_name,class:"form-control",  placeholder: "Enter Event Name to search",id:"tags" %></div>
    <div class="col">
    <%= label_tag :event_description, "Description:" %>
      <%= text_field_tag :event_description,@event_description,class:"form-control", placeholder:"Enter Event Description to search" %></div>
     <div class="col">
    <%= label_tag :start_date, "Select Start Date to search: " %>
       <%= date_field_tag :start_date,@start_date,class:"form-control" %></div>

    <div class="col">
    <%= label_tag :end_date, "Select End Date to search: " %>
      <%= date_field_tag :end_date,@end_date,class:"form-control" %></div>
    <div class="col">
    <%= label_tag :city, "City:" %>
      <%= text_field_tag :city,@city,class:"form-control",placeholder:"Enter City to search" %></div>
    <div class="col">
      <span style="padding-bottom: 10px;"><%= submit_tag "Search",class:"btn btn-primary" %></span>
      <span style="padding-left:1px;"><%= link_to 'Reset', events_path,class:"btn btn-primary" %></span></div>


  <% end %>




</div>
</br>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Event name</th>
      <th>Event description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>City</th>
      <th>Created by</th>
      <th>Address</th>
      <th>Change Event Status</th>
      <th>Current Event Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>

    <% @events.each do |event| %>

      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.address.city if event.address %>
          <%= event.city %></td>
        <td><%= event.user.name if event.user %></td>
        <td><%= event.address.location if event.address %>
          <%= event.city %></td>
        <td><%= form_tag(event_event_status_path(event), method: 'put',:id=> "stat") do %>
            <div class="form-check form-switch">
              <label class="form-check-label" for="status">Inactive</label>
              <pre></pre><%= check_box_tag(:status, value = 'active' ,false,:role => 'switch',:class => "form-check-input test",checked: event.status=="active",:note=> event.id,data: {
              remote: true,
              url: event_event_status_path(event),
              method: :put,
            } ) %>
              <label class="form-check-label" for="status">Active</label>
              <br>
              <%= check_box_tag(:status, value = 'inactive',false,:role => 'switch',:class => "form-check-input test1",checked: event.status=="active",style:"display:none",:note=> event.id) %>
              <% end %>
          </div>
          <td><%=event.status %></td>

        <td><%= link_to 'Show', event,class:"btn btn-primary" %></td>

        <% if user_signed_in? && (current_user == event.user || current_user.admin?) %>

        
        <td><%= link_to 'Edit', edit_event_path(event),class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path,class:"btn btn-dark" %>
