<div class="jumbotron">
  <% unless request.format.to_sym == :pdf %>
 <pre>                                                                                                                              <%= link_to 'Create a PDF document of this page', event_path(@event, format: :pdf),class:"btn btn-primary" %></pre>
<% end %>
    <h1 class="display-4"></h1>
<p class="lead">
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>
<hr class="my-4">
<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.address.city if @event.address %>
  <%= @event.city %>
</p>
<p>
  <strong>Address:</strong>
  <%= @event.address.location if @event.address %>
  <%= @event.city %>
</p>
  <% if @event.image.url %>
  <p>
    <strong>Image:</strong>
    <% if @event.image %>
    <div class="image_wrapper">
      <%= image_tag(@event.image.url,alt: 'Image') if @event.image.url %>
    </div>
    <% end %>
  </p>
    <% end %>
<hr>
  <%= render 'comments/form' %>
  <%= render 'comments/comment' %>

<% if user_signed_in? && (current_user == @event.user || current_user.admin?) %>
<p class="lead"></br>
<%= link_to 'Edit', edit_event_path(@event),class:"btn btn-primary" %> |

<% end %>
<%= link_to 'Back', events_path,class:"btn btn-primary" %>
</p>
</div>


